<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ระบบ Check-in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body class="container py-5">
    <h2 class="mb-4">กรุณากรอกชื่อเพื่อตรวจสอบที่นั่ง</h2>
    <form method="POST" action="/check">
        <div class="mb-3">
            <label class="form-label">ชื่อ:</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">ค้นหา</button>
    </form>
</body>
</html>
